@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input,
textarea,
button {
  @apply rounded border border-teal-500 bg-white p-2;

  &:disabled {
    @apply opacity-[.25];
  }
}

button.primary {
  @apply bg-teal-700 px-4 font-semibold text-white;
}

.clamp-3-lines {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
}

.translatable-text {
  /* line-height: 1.5;
   background: linear-gradient(
       to right,
       rgba(100, 200, 200, 1),
       rgba(100, 200, 200, 1)
     ),
     linear-gradient(
       to right,
       rgba(255, 0, 0, 1),
       rgba(255, 0, 180, 1),
       rgba(0, 100, 200, 1)
     );
   background-size:
     100% 0.1em,
     0 0.1em;
   background-position:
     100% 100%,
     0 100%;
   background-repeat: no-repeat;
   animation: linear 2s tttext-underline infinite;
	 */
}

h1,
h2,
h3 {
  @apply font-medium text-teal-600;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@keyframes tttext-underline {
  0% {
    background-size:
      100% 0.1em,
      0% 0.1em;
  }

  50% {
    background-size:
      0% 0.1em,
      100% 0.1em;
  }

  100% {
    background-size:
      100% 0.1em,
      0% 0.1em;
  }
}
